<div class="conteudo-painel" style="text-align: left">
  
  <table border=0 width=100%>
    <tr>
      <td>Nome do Contratante:</td>
      <td><%= @reserva.municipe %></td>
    </tr>
     <tr>
      <td>Nome do Falecido:</td>
      <td><%= @reserva.falecido %></td>
    </tr>
     <tr>
      <td>Número da Declaração de Óbito:</td>
      <td><%= @reserva.d_obito %></td>
    </tr>
     <tr>
      <td>Cemiterio:</td>
      <td><%= Cemiterio.find(@reserva.cemiterio_id).nome %></td>
    </tr>
     <tr>
      <td>Velorio:</td>
      <td><%= Velorio.find(@reserva.velorio_id).nome %></td>
    </tr>
     <tr>
      <td>Sala:</td>
      <td><%= Velorio.find(@reserva.velorio_id).salas.index(Sala.find(@reserva.sala_id)).to_i + 1 %></td>
    </tr>
     <tr>
      <td>Horario de Sepultamento:</td>
      <td><%= @reserva.sepultamento.strftime("%d/%m/%Y %H:%M") %></td>
    </tr>
     <tr>
      <td>Data de Contratação:</td>
      <td><%= Time.now.in_time_zone.strftime("%d/%m/%Y %H:%M") %></td>
    </tr>
  </table>

    
</div>
<div class="painel-footer">
  <input type="button" id="voltar_sala" class="cibelbutton" value="Voltar" onclick="javascript: resetActive(event, 75, 'step-3');">
  <%= link_to "Confirmar reserva", confirmar_reserva_path(:reserva => @reserva.attributes), :method => :post , class: 'cibelbutton' %>
</div>