  
    <%= render 'layouts/matriz', object: @matriz %>
  
    <br>
  
    <%= form_tag dados_reserva_path, :method => 'post', remote: true do |f| %>
	<div class="conteudo-painel">
	  <%= hidden_field_tag(:sepultamento, value = nil) %>
	  <%= hidden_field_tag(:sala_id, value = nil) %>
	  <%= hidden_field_tag(:cemiterio_id, value = params[:cemiterio_id]) %>
	</div>
	<div class="painel-footer">
	  <input type="button" class="cibelbutton" id="voltar_selecao" value="Voltar" onclick="javascript: resetActive(event, 00, 'step-1');">
	  <%= submit_tag "Próximo passo", id: "prox-passo", class: "cibelbutton" %>
	</div>  
<% end %>

<!-- Trigger the modal with a button -->
  <button id="modal-erro" style="display: none;" type="button" data-toggle="modal" data-target="#myModal">Open Modal</button>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="cimodal tam6 col-md-offset-1">
        <div class="titulo">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Operação errada!</h4>
        </div>
        <div class="conteudo-modal">
          <p>Por favor, selecione um horário para o velorio e tente novamente!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="dangerBut" data-dismiss="modal">Fechar &times;</button>
        </div>
      </div>
    </div>
  </div>