<div class="row setup-content step activeStepInfo" id="step-1">
	<div class="col-xs-12">
		<div class="col-md-4 col-md-offset-4 well text-center">
			<div class="panel-heading title centralizar-texto">
				Selecione o local de sepultamento
			</div>
			<%= f.label :cemiterio_id, "Local de Sepultamento/Cremação" %>
			<%= f.select :cemiterio_id, options_for_select(Cemiterio.all.collect{ |u| [u.nome, u.id] }), class: 'form-control' %>
			<%= f.label :mesmo_local, "Velório será no mesmo local de sepultamento?" %>
			<%= f.select :mesmo_local, options_for_select(['Sim','Não']), class: 'form-control' %>
			<%= f.select :velorio_id, options_for_select(Velorio.all.collect{ |v| [v.nome, v.id] }), class: 'form-control' %>
			<input type="button" id="fim_selecao" value="Próximo passo" onclick="javascript: resetActive(event, 33, 'step-2');">	
		</div>
	</div>
</div>