<div class="tela-principal">
    
    <div class="cabecalho-principal">
        
        <div class="step col-md-offset-3 row">
            <div id="div1" class="col-md-2 activestep" onclick="javascript: resetActive(event, 0, 'step-1');">
                <span class="fa fa-cloud-download"></span>
                <p>Selecione o local</p>
            </div>
            <div class="col-md-2" onclick="javascript: resetActive(event, 33, 'step-2');">
                <span class="fa fa-pencil"></span>
                <p>sala e horário</p>
            </div>
            <div class="col-md-2" onclick="javascript: resetActive(event, 66, 'step-3');">
                <span class="fa fa-refresh"></span>
                <p>Info. falecido</p>
            </div>
            <div class="col-md-2" onclick="javascript: resetActive(event, 100, 'step-4');">
                <span class="fa fa-dollar"></span>
                <p>Conclua a reserva</p>
            </div>
        </div> <!-- step -->
    
    <div class="row">
<<<<<<< HEAD
        <div class="row step">
            <div id="head_step-1" class="col-md-4 activestep">
                <p>Selecione o local de sepultamento e velório</p>
=======
        <div class="progress col-md-offset-3" id="progress1">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
            <span class="progress-type">Processo de Reserva de Velório</span>
            <span class="progress-completed">0%</span>
        </div>
    </div>
    </div>
    
    <div class="corpo-principal col-md-offset-4">
        
        
            <%= form_for @reserva do |f| %>
            <%= render 'formularios/selecao_velorio', f: f %>
            <% end %>
        
    </div>
    
    
    
</div>
























<!--
<div class="paineis">
<div class="container" style="margin-bottom: 100px;">
    
    <div class="row">
        <div class="row step">
            <div id="div1" class="col-md-2 activestep" onclick="javascript: resetActive(event, 0, 'step-1');">
                <span class="fa fa-cloud-download"></span>
                <p>Selecione o local</p>
>>>>>>> 3bf523f75b4a2e253f33fa575f4383348218d42e
            </div>
            <div id="head_step-2" class="col-md-4">
                <p>Escolha a sala e horário</p>
            </div>
<<<<<<< HEAD
            <div id="head_step-3" class="col-md-4">
                <p>Preencha as informações do falecido</p>
            </div>
=======
            <div class="col-md-2" onclick="javascript: resetActive(event, 66, 'step-3');">
                <span class="fa fa-refresh"></span>
                <p>Info. falecido</p>
            </div>
            <div class="col-md-2" onclick="javascript: resetActive(event, 100, 'step-4');">
                <span class="fa fa-dollar"></span>
                <p>Conclua a reserva</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="progress" id="progress1">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
            <span class="progress-type">Processo de Reserva de Velório</span>
            <span class="progress-completed">0%</span>
        </div>
    </div>
    
    <%= form_for @reserva do |f| %>
        <%= render 'formularios/selecao_velorio', f: f %>
    <% end %>
    
    
    <div class="row setup-content step hiddenStepInfo" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <h1>STEP 2</h1>
                <h3 class="underline">Instructions</h3>
                Fill out the application. 
                Make sure to leave no empty fields. 
            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <h1>STEP 3</h1>
                <h3 class="underline">Instructions</h3>
                Check to ensure that all data entered is valid. 
            </div>
>>>>>>> 3bf523f75b4a2e253f33fa575f4383348218d42e
        </div>
    </div>
    <div class="row">
        <div class="progress" id="progress1">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
            <span class="progress-type">Processo de Reserva de Velório</span>
            <span class="progress-completed">0%</span>
        </div>
    </div>
    
    
        <%= render 'formularios/selecao_velorio' %>
        <%= render 'formularios/filtro_salas' %>
        <%= render 'formularios/dados_reserva' %>
        <%= render 'formularios/concluir_reserva' %>

</div>
</div>

-->
