<div class="row">
	<div class="panel col-md-4 col-md-offset-4">
		<div class="panel-heading title centralizar-texto">
			Selecione o local de sepultamento
		</div>    
		<%= form_tag('/filtro_salas', method: 'post') do %>
			<%= label_tag :cemiterio_id, "Local de Sepultamento/Cremação" %>
		    <%= select_tag :cemiterio_id, options_for_select(Cemiterio.all.collect{ |u| [u.nome, u.id] }), class: 'form-control' %>
		    <%= label_tag :mesmo_local, "Velório será no mesmo local de sepultamento?" %>
		    <%= check_box_tag :mesmo_local, value = "1", checked = true %>
		    <%= select_tag :velorio_id, options_for_select(Velorio.all.collect{ |v| [v.nome, v.id] }), class: 'form-control' %>
			<%= submit_tag "Próximo", class: "btn btn-block btn-danger" %>
		<% end %>
	</div>
</div>