<div class="painel col-md-10 col-md-offset-1">
  <div class="titulo">
    <h2>Resultado</h2>
  </div>
  <div class="conteudo-painel">
    <%= will_paginate resultado, :previous_label => t("Anterior"), :next_label => t("Pr칩ximo")%>
  <table border="1" class="table table-striped">
    <thead>
      <tr>
        <th>Falecido</th>
        <th>Vel칩rio</th>
        <th>Hor치rio de sepultamento</th>
        <th>Contratante</th>
      </tr>
    </thead>
    <tbody>
    <% @resultado.each do |r| %>
      <tr>
        <td><%= r.falecido %></td>
        <td><%= r.velorio.nome %></td>
        <td><%= r.sepultamento.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= r.municipe %></td>
       </tr>
     <% end %>
    </tbody>
  </table>
<%= will_paginate resultado, :previous_label => t("Anterior"), :next_label => t("Pr칩ximo") %>    
  </div>
  <div class="painel-footer">
  </div>
</div>