<div class="painel col-md-10 col-md-offset-1">
  <div class="titulo">
    <h2>Relatório de reservas</h2>
  </div>
  <div class="conteudo-painel">
    <table border="1" class="table table-hover">
      <thead>
        <tr>
          <th>Velório</th>
          <th>Sala</th>
          <th>Sepultamento</th>
          <th>Atendente</th>
          <th>Falecido</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @velorio.reservas.each do |r| %>
        <tr>
          <td><%= r.velorio.nome %></td>
          <td><%= r.sala.id %></td>
          <td><%= r.sepultamento.to_s.chomp(' -0200') %></td>
          <td><%= r.atendente.funcionario.nome %></td>
          <td><%= r.falecido %></td>
          <td>
            <%= link_to edit_reserva_path(r), class: 'myButton' do %>
            <i class="fa fa-pencil-square-o"></i>
            <% end %>
            <div class="dangerBut">
            <i class="fa fa-times"></i>
            </div>
          </td>  
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="painel-footer">
  </div>
</div>