<div class="row-fluid">
  <div class="col-md-8 col-md-offset-2">
    <strong>Histórico de reservas:</strong>
    <br>
    <strong><%= @velorio.nome %></strong>
    <% @velorio.reservas.each do |r| %>
      <div class="row-fluid">
        <div class="btn btn-default btn-block">
          <strong>Velorio: </strong><%= r.velorio.nome %>
          -
          <strong>Sala: </strong><%= r.sala.id %>
          -
          <strong>Sepultamento: </strong><%= r.sepultamento %>
          -
          <strong>Atendente: </strong><%= r.atendente.funcionario.nome %>
          -
          <strong>Falecido: </strong><%= r.falecido %>
          -
          <%= link_to "Editar", edit_reserva_path(r) %>
        </div>
      </div>
    <% end %>
  </div>
</div>