<div class="painel col-md-10 col-md-offset-1">
  <div class="titulo">
    <h2>Relatório de reservas</h2>
  </div>
  <div class="conteudo-painel">
    
    <% if @reservas.any? %>
      <table border="1" class="table table-striped data_table">
        <thead>
          <tr>
            <th>Velório</th>
            <th>Sala</th>
            <th>Sepultamento</th>
            <th>Atendente</th>
            <th>Falecido</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @reservas.each do |r| %>
          <% if !r.excluida %>
            <tr>
              <td><%= r.velorio.nome %></td>
              <td><%= Velorio.find(r.velorio_id).salas.index(Sala.find(r.sala_id)).to_i + 1 %></td>
              <td><%= r.sepultamento.strftime("%d/%m/%Y %H:%M") %></td>
              <td><%= r.atendente.funcionario.nome %></td>
              <td><%= r.falecido %></td>
              <td>
                <% if r.sepultamento < Time.now %>
                  <span type="button" data-toggle="modal" data-target="#exp_<%= r.id %>">
                    <div class="disabledBut">
                      <i class="fa fa-lock"></i>
                    </div>
                  </span>
                <% else %>
                  <span type="button" id="editar_reserva_<%= r.falecido %>" data-toggle="modal" data-target="#edit_<%= r.id %>">
                    <div class="myButton">
                      <i class="fa fa-pencil-square-o"></i>
                    </div>
                  </span>                
                <% end %>              
                  <span type="button" id="excluir_reserva_<%= r.falecido %>" data-toggle="modal" data-target="#delete_<%= r.id %>">
                    <div class="dangerBut">
                      <i class="fa fa-times"></i>
                    </div>
                  </span>              
              </td>  
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
    	<div class="titulo_foot">
    		<h3>Este velório não contém reservas</h3>
  		</div>
    <% end %>
    
  </div>
  <div class="painel-footer">
  </div>
</div>

<% @velorio.reservas.each do |r| %>

  <div class="modal fade" id="delete_<%= r.id %>" role="dialog">
    <div class="modal-dialog">
      <div class="cimodal tam6 col-md-offset-1">      
      <%= form_for r, method: :delete do |f| %>
        <div class="titulo">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Atenção</h4>
        </div>          
        <div class="conteudo-modal">
          <p>Justifique a exclusão</p>
          <%= f.text_area :justificativa, :required => true, :value => "" %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Deletar", class: "dangerBut" %>
        <% end %>
          <button type="button" class="myButton" data-dismiss="modal">Manter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_<%= r.id %>" role="dialog">
    <div class="modal-dialog">
      <div class="cimodal tam6 col-md-offset-1">      
      <%= form_for r, :url => { :action => "pre_edicao" } do |f| %>
        <div class="titulo">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Atenção</h4>
        </div>          
        <div class="conteudo-modal">
          <p>Justifique a edição</p>
          <%= f.text_area :justificativa, :required => true, :value => "" %>
          <%= f.hidden_field :id_edit, value: r.id %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Editar", class: "dangerBut" %>
        <% end %>
          <button type="button" class="myButton" data-dismiss="modal">Manter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exp_<%= r.id %>" role="dialog">
    <div class="modal-dialog">
      <div class="cimodal tam6 col-md-offset-1">
        <div class="titulo">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Atenção</h4>
        </div>
        <div class="conteudo-modal">
          <p>Essa reserva já expirou.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="myButton" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

<% end %>