<div class="row" style="margin-top: 50px;">
  <div class="painel col-md-offset-1 col-md-4">
    <table>
    <% @reserva.attributes.each do |a| %>
    
      <tr><td><%= a %></td></tr>
      
    <% end %>
    </table>
  </div>

  <div class="painel col-md-offset-2 col-md-4" style="text-align: center;">
    <%= form_for(@reserva) do |f| %>
      
      <%= f.label :falecido, "Falecido" %>
      <%= f.text_field :falecido, class: 'form-control' %>    
      
      <%= f.label :municipe, "Munícipe" %>
      <%= f.text_field :municipe, class: 'form-control' %>
      
      <%= f.label :d_obito, "Declaração de Óbito" %>
      <%= f.text_field :d_obito, class: 'form-control' %>
      
      <%= hidden_field_tag(:sepultamento, value = nil) %>
	    <%= hidden_field_tag(:sala_id, value = nil) %>
	</div>
</div>    
<div class="row">   
    <div class="painel col-md-12">
      <div class="titulo">
        <h2>Horário</h2>
      </div>
    <div class="conteudo-painel" id="matriz-edit">
      <%= render 'layouts/matriz', object: @matriz %>
    </div>
      
    <div class="painel-footer">
    <%= f.submit "Salvar Mudanças", class: "cibelbutton" %>
    </div>
    
    <% end %>
    </div>
</div>
