<div class="row" style="margin-top: 50px;">
  <div class="painel col-md-4 col-md-offset-4">
    <%= form_tag selecao_velorio_path, :method => 'post', remote: true do |f| %>
      <div class="titulo">
        <%= label_tag :velorio_id, "Selecione o local de velório" %>
      </div>
      <div class="conteudo-painel">
        <%= select_tag :velorio_id, options_for_select(Velorio.all.collect{ |v| [v.nome, v.id] }), class: 'form-control' %>
      </div>
      <div class="painel-footer">
        <%= submit_tag "Enviar", class: 'cibelbutton' %>
      </div>
    <% end %>
  </div>
  <div class="cancelar-reserva" style="margin-top: 10px; margin-right: 2.5%;">
    <%= link_to "Voltar", root_path, class: 'cibelbutton' %>
  </div>
</div>
<div style="margin-top: 25px;">
  <div id="agenda-selecionada"></div>
  <div id="velorio-selecionado"></div>
</div>

