<div class="painel col-md-10 col-md-offset-1" style="margin-top: 65px">
  <div class="titulo">
    <h2>Relatório</h2>
  </div>
  <div class="conteudo-painel">
    <table border="1" class="table table-striped">
      <thead>
        <th>Velório</th>
        <th>Objeto</th>
        <th>Ação</th>
        <th>Justificativa</th>
        <th>Responsável</th>
        <th>Horário</th>
      </thead>
      <% @justificativas.each do |j| %>
        <tbody>
          <%
            objeto = Reserva.find(j.reserva) if j.reserva
            objeto = Sala.find(j.sala) if j.sala
            velorio = objeto.velorio
            responsavel = Atendente.find(j.atendente)
          %>
          <td><%= velorio.nome %></td>
          <td><%= objeto.class %></td>
          <td><%= j.acao %></td>
          <td><%= j.justificativa %></td>
          <td><%= responsavel.funcionario.nome %></td>
          <td><%= j.horario.strftime("%d/%m/%Y %H:%M") %></td>
        </tbody>
      <% end %> 
    </table>
  </div>
  <div class="cancelar-reserva" style="margin-top: 10px; margin-right: 2.5%;">
    <%= link_to "Voltar", adm_path, class: 'cibelbutton' %>
  </div>
  <div class="painel-footer">
  </div>
</div>
<div class="cancelar-reserva" style="margin-top: 10px; margin-right: 2.5%;">
  <%= link_to "Voltar", root_path, class: 'cibelbutton' %>
</div>