<div class="mais_horarios">Mais Hor치rios <span class="fa fa-arrow-right"></span></div>
<div class="menos_horarios"><span class="fa fa-arrow-left"></span> Menos Hor치rios</div>
<div style="clear:both;"></div>

<div class="conteudo-painel matriz">
	<table border="0" class="table table-condensed">
		<% object.each_with_index do |row, row_index| %>
			<% if row_index == 0 %>
			<tr>
				<td style="background: none; border: 0px;"></td>

				<td class="celula_hoje" colspan='<%= @colspan_borda_esq %>'><%= Time.now.strftime('%d/%m/%Y') %></td>

				<td class="celula_amanha" colspan='<%= @colspan_central %>'><%= Time.now.tomorrow.strftime('%d/%m/%Y') %></td>

				<td class="celula_hoje" colspan='<%= @colspan_borda_dir %>'><%= 2.days.from_now.strftime('%d/%m/%Y') %></td>

			</tr>
			<% end %>
  		<tr>
				<% row.each_with_index do |e, col_index| %>
					<% if row_index > 0 && col_index == 0 %>
						<td style="background: rgba(46, 139, 87,0.4);">
							<div style="width: 50px;" class="" id="<%= e %>">Sala <%= e %></div>
						</td>
					<% elsif row_index == 0 && col_index > 0 %>
						<td style="background: rgba(46, 139, 87,0.4);">
							<div class="horarios" data-horario="<%= e %>"><%= e.strftime('%H:%M') %></div>
						</td>
					<% elsif row_index == 0 || col_index == 0 %>
						<td style="background: rgba(46, 139, 87,0.4);">
							<div class="" id="<%= e %>"><%= e %></div>
						</td>
					<% elsif e == 'p' %>
						<td class='td_ocupado'>
							<div class="agenda_ocupado" data-horario="<%= col_index %>" data-sala="<%= @velorio.salas[row_index -1].id %>"></div>
						</td>
					<% elsif e == 'o' %>
						<td class='td_interditado'>
							<div class="agenda_interditado" data-horario="<%= col_index %>" data-sala="<%= @velorio.salas[row_index -1].id %>"></div>
						</td>
					<% else %>
						<td class='td_livre'>
							<div class="agenda_livre" data-horario="<%= e %>" data-sala="<%= @velorio.salas[row_index -1].id %>"></div>
						</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>

<div class="mais_horarios">Mais Hor치rios <span class="fa fa-arrow-right"></span></div>
<div class="menos_horarios"><span class="fa fa-arrow-left"></span> Menos Hor치rios</div>
<div style="clear:both;"></div>
