<!DOCTYPE html>
<html>
<head>
  <title>Cibel</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
  <div class="body">
    
  

<div class="container-fluid">
	<%= yield %>
	
</div>

<%= render 'layouts/footer' if params[:controller] != 'sessions' %>

  </div>
</body>
</html>
