<!DOCTYPE html>
<html>
<head>
  <title>Cibel</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
  <div class="body">
    
  

<div class="container-fluid">
	<%= yield %>
	
</div>
<%= link_to "Logout", logout_path, method: :delete %>
  </div>
</body>
</html>
